@inherits LayoutComponentBase



@if (checkLogin == 0)
{
    <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <span>Loading</span>
    </div>

}
else
{
    <RadzenCard Style="border:3px solid;border-radius:unset;height:176px">
        <RadzenMenu>
            <RadzenImage Style="padding:22px" Path="https://media.ascvn.com.vn/Media/1_HOME_ASC/Images/logo-ascvn9d865d6-77.png" width="120px" alt="ASCVN2020"></RadzenImage>
            <h3 style="margin-top:23px"><strong>ASC<br /> TASK PLANNING</strong></h3>
            <h1 style="color: #007bff;margin-left:auto;margin-top:28px">DỰ ÁN "SCHOOL - DEVELOPERS"</h1>
            <RadzenProfileMenu Style="width:max-content;margin-left:auto;border-left:none">
                <Template>

                    <p>
                        <RadzenImage Path="https://cdn-icons-png.flaticon.com/128/483/483361.png" width="50" />
                        <strong style="margin-left:3px">Lê Hoàng Long</strong>
                    </p>
                </Template>
                <ChildContent>
                    <RadzenProfileMenuItem Text="Hồ sơ người dùng" Path="#" Icon="account_circle"></RadzenProfileMenuItem>
                    <RadzenProfileMenuItem Text="Đổi mật khẩu" Path="#" Icon="cached"></RadzenProfileMenuItem>
                    <RadzenProfileMenuItem Text="Chuyển dự án" Path="#" Icon="compare_arrows"></RadzenProfileMenuItem>
                    <RadzenProfileMenuItem Text="Đăng xuất" Path="#" Icon="exit_to_app"></RadzenProfileMenuItem>
                </ChildContent>
            </RadzenProfileMenu>
        </RadzenMenu>

        <RadzenMenu Style="text-decoration:underline; width: max-content; margin: auto; font-size: 20px">
            <RadzenMenuItem Text="Dashboard" Icon="home" Path="dashboard">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Quản lý người dùng" Path="quanlynguoidung">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Tuần làm việc" Path="tuanlamviec">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Quản lý công việc" Path="quanlycongviec">
            </RadzenMenuItem>
            <RadzenMenuItem Text="To-do list" Path="todolist">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Báo cáo hiệu suất công việc" Path="baocaohieusuat">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Phân bổ công việc" Path="phanbocongviec">
            </RadzenMenuItem>
        </RadzenMenu>
    </RadzenCard>
    <div class="content">
        @Body
    </div>
    <div class="footer" style="border: 3px solid">
        <div class="row">
            <div class="col-4"><h4><i class="fas fa-calendar-check" style="font-size: 25px;margin-right:4px"></i> @DateTime.Now.ToString("dd-MM-yyyy")</h4></div>
            <div class="col-4" style="text-align: center; margin: auto; margin-top: auto">
                <h4 style="">Copyright 2021</h4>
            </div>
            <div class="col-4" style="text-align: right; margin-top: auto"> <h4>Designed by ASC</h4></div>
        </div>


    </div>
}


@code{
    public int checkLogin { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(4000);
        checkLogin = 1;
    }
}