@page "/Dashboard"
@if (chartDashboards == null)
{
    <PageLoading />
}
else
{
    <div class="page">
        <div class="sidebar" style="width: 327px; border-left: solid 3px; background-color: rgb(37 106 238)">
            <ToDoListDashboard/>
        </div>

        <div class="main">
            <div class="content px-4">
                <div class="row" style="height:70px">
                    <div class="col-4"><p style="text-align: center; line-height: 70px;font-size:25px">Tháng 09-2021</p></div>
                    <div class="col-4"><p style="text-align: center; line-height: 70px;font-size:25px"><strong>Tuần 1: 5/7 - 10/7</strong></p></div>
                    <div class="col-4" style="margin-top:-10px">
                        <p style="text-align: center; line-height: 70px;font-size:25px">
                            <RadzenButton Icon="skip_previous" ButtonStyle="ButtonStyle.Secondary" Text="Trở về" />
                            <RadzenButton Icon="date_range" ButtonStyle="ButtonStyle.Secondary" Text="Hiện tại" />
                            <RadzenButton Icon="skip_next" ButtonStyle="ButtonStyle.Secondary" Text="Tiếp" />
                        </p>
                    </div>
                </div>
                <div class="row" style="height:max-content">
                    <div class="col-6">
                        <p style="text-align:center">
                            <RadzenCard class="m-3">
                                <center><h3 class="h5">KẾ HOẠCH TEAM</h3></center>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-12"><strong style="font-size:50px;margin-right:5px">81%</strong> (250/308 giờ)</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12" style="margin-left:-4px">Tổng số giờ đã lên kế hoạch</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row" style="height:50px">
                                            <div class="col-6"><p style="text-align: center; line-height: 50px;font-size:25px">56</p></div>
                                            <div class="col-6"><p style="text-align: center; line-height: 50px;font-size:20px">Tổng số task</p></div>
                                        </div>
                                        <div class="row" style="height:50px">
                                            <div class="col-6"><p style="text-align: center; line-height: 50px;font-size:25px">4/7</p></div>
                                            <div class="col-6"><p style="text-align: center; line-height: 50px;font-size:20px">User đã tạo task</p></div>
                                        </div>
                                    </div>
                                </div>
                            </RadzenCard>
                        </p>
                    </div>
                    <div class="col-6">
                        <p style="text-align:center">
                            <RadzenCard class="m-3">
                                <center><h3 class="h5">TIẾN DỘ TOÀN TEAM (đến ngày hôm hay)</h3></center>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-12"><strong style="font-size:50px;margin-right:5px;color:blue">47%</strong> (145/308 giờ)</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12" style="margin-left:-54px">Hoàn thành</div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row" style="height:50px">
                                            <div class="col-6"><p style="text-align: center; line-height: 50px;font-size:25px;color:orange">18/56</p></div>
                                            <div class="col-6"><p style="text-align: center; line-height: 50px;font-size:20px">Task xong/vắng</p></div>
                                        </div>
                                        <div class="row" style="height:50px">
                                            <div class="col-6"><p style="text-align: center; line-height: 50px;font-size:25px;color:green">38</p></div>
                                            <div class="col-6"><p style="text-align: center; line-height: 50px;font-size:20px">Task tồn động</p></div>
                                        </div>
                                    </div>
                                </div>
                            </RadzenCard>
                        </p>
                    </div>
                </div>
                <div class="row" style="height:480px;margin-top:74px">
                    <div class="col-12">
                        <RadzenChart Style="height:436px">
                            <RadzenColumnSeries Data="chartDashboards" Fills="colordashboard" CategoryProperty="NameUser" LineType="LineType.Dashed" ValueProperty="MucDoHoanThanh">
                                <TooltipTemplate Context="data">
                                    <div style="width:300px">
                                        <strong>@data.NameUser</strong><br />
                                        <ul>
                                            <li class="row">
                                                <div class="co-4">- Lên kế hoạch:</div>
                                                <div class="co-4"><p style="color:green;min-width:max-content;margin-left:5px"> 40/44 giờ</p></div>
                                            </li>
                                            <li class="row">
                                                <div class="co-4">- Số task hoàn thành:</div>
                                                <div class="co-4"><p style="color:blue;min-width:max-content;margin-left:5px"> 5/8 task</p></div>
                                            </li>
                                            <li class="row">
                                                <div class="co-4">- Số giờ hoàn thành:</div>
                                                <div class="co-4"><p style="color:deeppink;min-width:max-content;margin-left:5px"> 32/40 giờ(80%)</p></div>
                                            </li>
                                            <li class="row">
                                                <div class="co-4">- Tồn động:</div>
                                                <div class="co-4"><p style="color:red;min-width:max-content;margin-left:5px"> 3 task</p></div>
                                            </li>
                                        </ul>
                                    </div>
                                </TooltipTemplate>
                            </RadzenColumnSeries>
                            <RadzenColumnOptions Radius="8" />
                            <RadzenLegend Visible="false" />
                            <RadzenValueAxis Min="0" Max="100" Step="20">
                                <RadzenAxisTitle Text="Phần trăm hoàn thành" />
                            </RadzenValueAxis>
                            <RadzenCategoryAxis>
                                <RadzenAxisTitle Text="MỨC ĐỘ HOÀN THÀNH CÔNG VIỆC " />

                            </RadzenCategoryAxis>

                        </RadzenChart>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

