
@page "/choosetask"
@layout Choose

@if (DuAns == null)
{
    <PageLoading />
}
else
{<div class="container">
        <center class="mt-4">
            <h1><img src="https://media.ascvn.com.vn/Media/1_HOME_ASC/Images/logo-ascvn9d865d6-77.png" alt="Logo" style="margin-right:10px" />ASC TASK PLANNING</h1>
            <center><h5>HỆ THỐNG QUẢN LÝ CÔNG VIỆC</h5></center>
        </center>

    </div>
    <div class="container">
        <RadzenMenu Style="background-color: rgb(243,245,247);margin:auto;margin-top:81px">
            <div class="row" style="margin:auto">
                @foreach (var item in DuAns)
                {
                    <div class="col-4">
                        <RadzenCard Style="width:300px; margin-bottom: 20px; height:300px;">
                            <div style="font-size: 20px; margin: auto">
                                @{
                                    if (item.MaDuAn%2==0)
                                    {
                                        <i class="fas fa-school fa-10x"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-tasks fa-10x"></i>
                                    }
                                }
                            </div>
                            <RadzenButton Click=@(args => OnClick(item.MaDuAn.ToString())) Text="@item.TenDuAn" ButtonStyle="ButtonStyle.Success" />
                        </RadzenCard>
                    </div>
                }
            </div>
        </RadzenMenu>
    </div>
}





