@import '';

/* /Pages/Dashboard/Dashboard.razor.rz.scp.css */
.page[b-sc9vpw0h2v] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-sc9vpw0h2v] {
    flex: 1;
}

.sidebar[b-sc9vpw0h2v] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-sc9vpw0h2v] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-sc9vpw0h2v]  a, .top-row .btn-link[b-sc9vpw0h2v] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-sc9vpw0h2v] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-sc9vpw0h2v] {
        display: none;
    }

    .top-row.auth[b-sc9vpw0h2v] {
        justify-content: space-between;
    }

    .top-row a[b-sc9vpw0h2v], .top-row .btn-link[b-sc9vpw0h2v] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-sc9vpw0h2v] {
        flex-direction: row;
    }

    .sidebar[b-sc9vpw0h2v] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-sc9vpw0h2v] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-sc9vpw0h2v] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Pages/Dashboard/ToDoList.razor.rz.scp.css */
.navbar-toggler[b-oe6oxthqlo] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-oe6oxthqlo] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-oe6oxthqlo] {
    font-size: 1.1rem;
}

.oi[b-oe6oxthqlo] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-oe6oxthqlo] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-oe6oxthqlo] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-oe6oxthqlo] {
        padding-bottom: 1rem;
    }

    .nav-item[b-oe6oxthqlo]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-oe6oxthqlo]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-oe6oxthqlo]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-oe6oxthqlo] {
        display: none;
    }

    .collapse[b-oe6oxthqlo] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Pages/Login/Login.razor.rz.scp.css */
/* Coded with love by Mutiullah Samim */
body[b-9mg2jv3lsg],
html[b-9mg2jv3lsg] {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #60a3bc !important;
}

.user_card[b-9mg2jv3lsg] {
    height: 400px;
    width: 350px;
    margin-top: 250px;
    margin-bottom: auto;
    background: #4727abad;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container[b-9mg2jv3lsg] {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #f3fcff;
    padding: 10px;
    text-align: center;
}

.brand_logo[b-9mg2jv3lsg] {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container[b-9mg2jv3lsg] {
    margin-top: 121px;
}

.login_btn[b-9mg2jv3lsg] {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
    margin-top: 79px;
}

    .login_btn:focus[b-9mg2jv3lsg] {
        box-shadow: none !important;
        outline: 0px !important;
    }

.login_container[b-9mg2jv3lsg] {
    padding: 0 2rem;
}

.input-group-text[b-9mg2jv3lsg] {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user[b-9mg2jv3lsg],
.input_pass:focus[b-9mg2jv3lsg] {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label[b-9mg2jv3lsg]::before {
    background-color: #c0392b !important;
}
/* /Shared/MainLayoutTask.razor.rz.scp.css */
.content[b-ddu2sm3c4m] {
    min-height: calc(100vh - 120px);
}
.footer[b-ddu2sm3c4m] {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}
/* /Shared/PageLoading.razor.rz.scp.css */

body[b-6qe6q51lv8] {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#9b59b6, #8e44ad);
}

.wrapper[b-6qe6q51lv8] {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle[b-6qe6q51lv8] {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: blue;
    left: 15%;
    transform-origin: 50%;
    animation: circle-b-6qe6q51lv8 .5s alternate infinite ease;
}

@keyframes circle-b-6qe6q51lv8 {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.circle:nth-child(2)[b-6qe6q51lv8] {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3)[b-6qe6q51lv8] {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow[b-6qe6q51lv8] {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow-b-6qe6q51lv8 .5s alternate infinite ease;
}

@keyframes shadow-b-6qe6q51lv8 {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4)[b-6qe6q51lv8] {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5)[b-6qe6q51lv8] {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.wrapper span[b-6qe6q51lv8] {
    position: absolute;
    top: 75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: blue;
    left: 15%;
}







/*  footer   */
footer[b-6qe6q51lv8] {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

    footer p[b-6qe6q51lv8] {
        margin: 10px 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida  Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    footer .fa-heart[b-6qe6q51lv8] {
        color: red;
    }

    footer .fa-dev[b-6qe6q51lv8] {
        color: #fff;
    }

    footer .fa-twitter-square[b-6qe6q51lv8] {
        color: #1da0f1;
    }

    footer .fa-instagram[b-6qe6q51lv8] {
        color: #f0007c;
    }

fotter .fa-linkedin[b-6qe6q51lv8] {
    color: #0073b1;
}

footer .fa-codepen[b-6qe6q51lv8] {
    color: #fff
}

footer a[b-6qe6q51lv8] {
    color: #3c97bf;
    text-decoration: none;
    margin-right: 5px;
}

.youtubeBtn[b-6qe6q51lv8] {
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    bottom: 45px;
    cursor: pointer;
    transition: all .3s;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}

    .youtubeBtn i[b-6qe6q51lv8] {
        font-size: 20px;
        float: left;
    }

    .youtubeBtn a[b-6qe6q51lv8] {
        color: blue;
        animation: youtubeAnim-b-6qe6q51lv8 1000ms linear infinite;
        float: right;
    }

        .youtubeBtn a:hover[b-6qe6q51lv8] {
            color: #c9110f;
            transition: all .3s ease-in-out;
            text-shadow: none;
        }

    .youtubeBtn i:active[b-6qe6q51lv8] {
        transform: scale(.9);
        transition: all .3s ease-in-out;
    }

    .youtubeBtn span[b-6qe6q51lv8] {
        font-family: 'Lato';
        font-weight: bold;
        color: blue;
        display: block;
        font-size: 12px;
        float: right;
        line-height: 20px;
        padding-left: 5px;
    }

@keyframes youtubeAnim-b-6qe6q51lv8 {
    0%,100% {
        color: #c9110f;
    }

    50% {
        color: #ff0000;
    }
}
/* footer  */
