@page "/quanlynguoidung"
<AuthorizeView>
    <NotAuthorized>
        <h1>Chưa đăng nhập vào lại trang <RadzenLink Path="/" Text="đăng nhập" /></h1>
    </NotAuthorized>
    <Authorized>
        <h1>Trang quản lý người dùng</h1>
    </Authorized>
</AuthorizeView>


@code {

}
